<section class="course">
  <div class="container">
    <div class="course__wrap">
      <div class="course__text-wrapper">
        <div class="course__text-wrap">
          <h2 class="course__title">Middle school physics</h2>
          <p class="course__text">
            This course covers fundamental topics that will help students
            understand how our world works from a physics perspective.
          </p>
        </div>
        <div class="course__topic-wrap">
          <h2 class="course__topic">
            <span class="course__span">Topic:</span> Light and optics. The
            nature of light (wave nature).
          </h2>
          <p class="course__info">You have completed 3 basic topics out of 7</p>
          <progress max="100" value="43">70%</progress>
        </div>
        <a href="./study.html" class="course__btn">Continue your studies</a>
      </div>
      <img class="course__img" src="./img/self/physics.svg" alt="people who push magnet">
    </div>
  </div>
</section>
