<div class="backdrop is-hidden" remember-modal>
  <div class="remember-modal">
    <div class="remember-modal__box-close" remember-modal-close>
      <svg class="remember-modal__icon-close" width="15" height="15">
        <use href="./img/symbol-defs.svg#icon-close"></use>
      </svg>
    </div>
    <div class="remember-modal__wrap">
      <h2 class="remember-modal__title">Remember<span class="remember-modal__span">.</span></h2>
      <p class="remember-modal__text">
        We believe in <span class="remember-modal__span">you</span>
      </p>
    </div>
  </div>
</div>
