<section class="remember">
  <div class="container">
    <h2 class="remember__title">
      Remember<span class="remember__span">.</span>
    </h2>
    <p class="remember__text">
      <span class="remember__span">Physics</span> is the key to understanding the universe, from the smallest
      particles to the largest galaxies. It will help you develop logical
      thinking, teach you how to analyse and solve problems, and provide you
      with the fundamental knowledge you need to succeed in many fields, from IT
      to medicine.
    </p>
    <button class="remember__btn">I remember.</button>
  </div>
</section>
