<section class="resources">
  <div class="container">
    <h2 class="resources__title">Additional resources</h2>
    <p class="resources__text">
      We recommend additional useful resources for studying physics
    </p>
    <ul class="resources__list">
      <li class="resources__iteam">
        <svg class="footer__icon">
          <use href="./img/symbol-defs.svg#icon-opencourse"></use>
        </svg>
        <h2 class="resources__subtitle">MIT OpenCourseware</h2>
        <p class="resources__subtext">
          Access to lectures and materials from physics courses taught at MIT.
        </p>
        <a href="#" class="resources__link">Follow the link</a>
      </li>
      <li class="resources__iteam">
        <svg class="footer__icon">
          <use href="./img/symbol-defs.svg#icon-leaf"></use>
        </svg>
        <h2 class="resources__subtitle">Khan Academy</h2>
        <p class="resources__subtext">
          Great educational videos on various topics, including physics. A free
          online resource with physics lessons, exercises and tests for
          different levels.
        </p>
        <a href="#" class="resources__link">Go to YouTube or link</a>
      </li>
      <li class="resources__iteam">
        <svg class="footer__icon">
          <use href="./img/symbol-defs.svg#icon-minutephiziks"></use>
        </svg>
        <h2 class="resources__subtitle">MinutePhysics</h2>
        <p class="resources__subtext">
          Videos that explain physics concepts in 1 minute.
        </p>
        <a href="#" class="resources__link">Go to YouTube</a>
      </li>
    </ul>
    <button type="button" class="resources__button">Show more</button>
  </div>
</section>
