<section class="resources">
  <div class="container">
    <h2 class="resources__title">Additional resources</h2>
    <p class="resources__text">
      We recommend additional useful resources for studying physics
    </p>
    <ul class="resources__list">
      <li class="resources__iteam">
        <picture>
          <source
            srcset="
              ./img/self/resources/ocw@1x.png 1x,
              ./img/self/resources/ocw@2x.png 2x
            "
            type="image/png"
          />
          <source
            srcset="
              ./img/self/resources/ocw@1x.webp 1x,
              ./img/self/resources/ocw@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./img/self/resources/ocw@1x.png" alt="MIT OpenCourseware" />
        </picture>
        <h2 class="resources__subtitle">MIT OpenCourseware</h2>
        <p class="resources__subtext">
          Access to lectures and materials from physics courses taught at MIT.
        </p>
        <a href="https://ocw.mit.edu/search/?d=Physics&s=department_course_numbers.sort_coursenum" class="resources__link">Follow the link</a>
      </li>
      <li class="resources__iteam">
        <picture>
          <source
            srcset="
              ./img/self/resources/khan-academy@1x.png 1x,
              ./img/self/resources/khan-academy@2x.png 2x
            "
            type="image/png"
          />
          <source
            srcset="
              ./img/self/resources/khan-academy@1x.webp 1x,
              ./img/self/resources/khan-academy@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./img/self/resources/khan-academy@1x.png"
            alt="khan academy logo"
          />
        </picture>
        <h2 class="resources__subtitle">Khan Academy</h2>
        <p class="resources__subtext">
          Great educational videos on various topics, including physics. A free
          online resource with physics lessons, exercises and tests for
          different levels.
        </p>
        <a
          href="https://www.youtube.com/user/khanacademy"
          class="resources__link"
          >Go to YouTube or
          <a class="resources__link" href="https://www.khanacademy.org/science/physics">link</a></a
        >
      </li>
      <li class="resources__iteam">
        <picture>
          <source
            srcset="
              ./img/self/resources/minute-physics@1x.png 1x,
              ./img/self/resources/minute-physics@2x.png 2x
            "
            type="image/png"
          />
          <source
            srcset="
              ./img/self/resources/minute-physics@1x.webp 1x,
              ./img/self/resources/minute-physics@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./img/self/resources/minute-physics@1x.png"
            alt="minute physics logo"
          />
        </picture>
        <h2 class="resources__subtitle">MinutePhysics</h2>
        <p class="resources__subtext">
          Videos that explain physics concepts in 1 minute.
        </p>
        <a
          href="https://www.youtube.com/user/minutephysics"
          class="resources__link"
          >Go to YouTube</a
        >
      </li>
      <li class="resources__iteam">
        <picture>
          <source
            srcset="
              ./img/self/resources/num@1x.png 1x,
              ./img/self/resources/num@2x.png 2x
            "
            type="image/png"
          />
          <source
            srcset="
              ./img/self/resources/num@1x.webp 1x,
              ./img/self/resources/num@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="./img/self/resources/num@1x.png" alt="Numberphile logo" />
        </picture>
        <h2 class="resources__subtitle">Numberphile</h2>
        <p class="resources__subtext">
          Videos that explore various mathematical concepts relevant to physics.
        </p>
        <a
          href="https://www.youtube.com/user/numberphile"
          class="resources__link"
          >Go to YouTube or <a class="resources__link" href="https://www.numberphile.com/">link</a></a
        >
      </li>
    </ul>
    <button type="button" class="resources__button">Show more</button>
  </div>
</section>
