<section class="statistic">
  <div class="container">
    <ul class="statistic__list">
      <li class="statistic__item">
        <div class="statistic__wrap">
          <h2 class="statistic__title">Weekly achievements</h2>
          <p class="statistic__achivement">Newbie researcher</p>
          <a href="#" class="statistic__info statistic__info-link">
            Want to know more about the week's achievements?
          </a>
        </div>
      </li>
      <li class="statistic__item">
        <div class="statistic__wrap">
          <h2 class="statistic__title">
            Your current level is <span class="statistic__span">Beginner</span>
          </h2>
          <p class="statistic__text">
            Gain experience to move to the next level:
          </p>
          <div class="statistic__progress-wrap">
            <p class="statistic__ex">150ex from 300</p>
            <progress class="statistic__progress" max="100" value="50">
              50%
            </progress>
          </div>
          <button class="statistic__btn">Learn more</button>
        </div>
      </li>
      <li class="statistic__item">
        <div class="statistic__wrap">
          <div class="statistic__wrapper">
            <h2 class="statistic__title">Frequency of training</h2>
            <ul class="statistic__sublist">
              <li class="statistic__subitem">
                <p class="statistic__day-names">Mo</p>
                <input type="radio" />
              </li>
              <li class="statistic__subitem">
                <p class="statistic__day-names">Tu</p>
                <input type="radio" />
              </li>
              <li class="statistic__subitem">
                <p class="statistic__day-names">We</p>
                <input type="radio" />
              </li>
              <li class="statistic__subitem">
                <p class="statistic__day-names">Th</p>
                <input type="radio" />
              </li>
              <li class="statistic__subitem">
                <p class="statistic__day-names">Fr</p>
                <input type="radio" />
              </li>
              <li class="statistic__subitem">
                <p class="statistic__day-names">Sa</p>
                <input type="radio" />
              </li>
              <li class="statistic__subitem">
                <p class="statistic__day-names">Su</p>
                <input type="radio" />
              </li>
            </ul>
            <p class="statistic__info">
              Your progress will be reset to zero if you miss a class tomorrow.
            </p>
            <button class="statistic__btn">Learn more</button>
          </div>
          <div class="statistic__day-wrap">
            <h2 class="statistic__day">1</h2>
            <p class="statistic__info statistic__info-day">
              You study for one day in a row
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
