<section class="calendar">
  <div class="container">
    <h2 class="calendar__title">Calendar</h2>
    <div class="calendar__container calendar-section">
      <div class="calendar__gap">
        <h3 id="currentDate" class="calendar__data">16 July 2024</h3>
        <p id="lessonMessage" class="calendar__text">
          You have no lessons scheduled for today
        </p>
        <button id="scheduleButton" class="calendar__button">
          Would you like to schedule a lesson?
        </button>
      </div>
      <div class="calendar__gap">
        <img
          src="./img/study/schedule-picture.webp"
          alt="calendar"
          class="calendar__picture"
        />
      </div>
    </div>
    <div id="calendarModal" style="display: none">
      <div id="calendar"></div>
    </div>
  </div>
</section>
