<section class="calendar">
    <div class="container">
        <h2 class="calendar__title">Calendar</h2>
        <div class="calendar__containre">
            <div class="calendar__gap">
            <h3 class="calendar__data">16 July 2024</h3>
            <p class="calendar__text">You have no lessons scheduled for today</p>
            <button class="calendar__button"> Would you like to schedule a lesson?</button>
        </div>
        <div class="calendar__gap">
            <img src="../img/calendar/schedule-picture.webp" alt="calendar" class="calendar__picture">
        </div>
        </div>
    </div>
</section>