<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__wrap">
      <a href="./index.html" class="footer__logo-link" aria-label="logo">
        <svg class="footer__icon-logo" width="150" height="60">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link footer__tel">+38 093 111 1111 111</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">info@exciteedu.com</a>
        </li>
      </ul>
      <a href="#" class="footer__inst-link" aria-label="instagram">
        <svg class="footer__icon-inst" width="30" height="30">
          <use href="./img/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="footer__rights-wrap">
    <div class="container">
      <ul class="footer__sublist">
        <li class="footer__subitem">
          <p class="footer__text">©Copyright ExciteEdu</p>
        </li>
        <li class="footer__subitem">
          <p class="footer__text">
            221B Baker Street, London, England, NW1 6XE
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
