<div class="container">
  <div class="backdrop is-hidden" login-modal>
    <div class="modal">
      <div class="modal__box-close" login-modal-close>
        <svg class="modal__icon-close" width="15" height="15">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
      </div>
      <div class="modal__wrap">
        <h2 class="modal__title">Hello, Welcome Back!</h2>
        <form class="modal__form">
          <label class="modal__label">
            <input class="modal__input" type="email" placeholder="E-mail" />
          </label>
          <label class="modal__label">
            <input class="modal__input" type="password" placeholder="Password" />
            <svg class="modal__icon" width="10" height="10">
                <use href="./img/symbol-defs.svg#icon-eye"></use>
            </svg>
          </label>
          <a href="#" class="modal__forget">Forget password?</a>
          <button class="modal__btn">Log in</button>
          <p class="modal__text">
            Don’t have an account?
            <a href="#" class="modal__link">Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
