<div class="container">
  <div class="backdrop is-hidden" login-modal login-modal-mobile>
    <div class="modal">
      <div class="modal__box-close" login-modal-close login-modal-mobile-close>
        <svg class="modal__icon-close" width="15" height="15">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
      </div>
        <h2 class="modal__title">Hello, Welcome Back!</h2>
        <form class="modal__form">
          <ul class="modal__list">
            <li class="modal__item">
              <label class="modal__label">
                <input class="modal__input" type="email" placeholder="E-mail" />
              </label>
            </li>
            <li class="modal__item">
              <label class="modal__label">
                <input
                  class="modal__input"
                  type="password"
                  placeholder="Password"
                />
                <svg class="modal__icon">
                  <use href="./img/symbol-defs.svg#icon-eye-off"></use>
                </svg>
              </label>
            </li>
          </ul>
          <a href="#" class="modal__forget">Forget password?</a>
          <button class="modal__btn">Log in</button>
          <a href="#" class="modal__link">
            Don’t have an account?
            <p class="modal__text">Sign up</p>
          </a>
        </form>
    </div>
  </div>
</div>
