.calendar {
  margin-bottom: 60px;
  &__title {
    @include title();
    & {
      margin-top: 20px;
    }
  }
  &__container {
    border-radius: 8px;
    border: 1px solid rgba(17, 21, 24, 0.1);
    background: $secondaryTitleColor;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 390px;
    height: 534px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    @media screen and (min-width: 768px) {
      width: 738px;
      height: 300px;
      flex-direction: row;
    }
    @media screen and (min-width: 1200px) {
      width: 1170px;
      height: 300px;
    }
  }
  &__data {
    padding-top: 20px;
    padding-left: 20px;
    color: $titleColor;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 53px;
    @media screen and (min-width: 768px) {
      padding-top: 30px;
      padding-left: 30px;
      margin-bottom: 67px;
    }
    @media screen and (min-width: 1200px) {
    }
  }
  &__text {
    color: $secondaryTextColor;
    font-size: 24px;
    font-weight: 600;
    padding-left: 20px;
    margin-bottom: 52px;
    line-height: 120.006%;
  }
  @media screen and (min-width: 768px) {
    padding-left: 30px;
    margin-bottom: 67px;
  }
  &__button {
    @include btn();
    & {
      margin-left: 20px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
      margin-left: 30px;
      margin-bottom: 30px;
    }
  }
}

#calendarModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#calendar {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 900px;
}
.event-title {
  color: $accentColor;
}
