.footer {
  margin-top: 100px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items: center;
  }
  &__list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  &__link {
    color: $titleColor;
    font-size: 24px;
    font-weight: 600;
    line-height: 120.006%;
    transition: color 250ms ease-in-out;
  }
  &__link:hover {
    color: $accentColor;
  }
  &__icon-inst {
    fill: $titleColor;
    transition: fill 250ms ease-in-out;
  }
  &__icon-inst:hover {
    fill: $accentColor;
  }
  &__rights-wrap {
    background-color: $titleColor;
  }
  &__sublist {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    color: $secondaryTitleColor;
    font-size: 20px;
    font-weight: 600;
  }
}
