.footer {
  margin-top: 50px;
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 80px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      padding-bottom: 40px;
      flex-direction: row;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 50px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      margin-top: 25px;
    }
  }
  &__link {
    color: $titleColor;
    font-size: 20px;
    font-weight: 600;
    line-height: 120.006%;
    transition: color 250ms ease-in-out;
    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
  }
  &__tel {
    display: flex;
    align-items: center;
  }
  &__tel::after {
    content: '';
    display: block;
    background-color: $accentColor;
    width: 1px;
    height: 29px;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__link:hover {
    color: $accentColor;
  }
  &__icon-inst {
    fill: $titleColor;
    transition: fill 250ms ease-in-out;
    @media screen and (max-width: 768px) {
      margin-top: 25px;
    }
  }
  &__icon-inst:hover {
    fill: $accentColor;
  }
  &__rights-wrap {
    background-color: $titleColor;
  }
  &__sublist {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 768px) {
      row-gap: 5px;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__text {
    color: #fff;
    text-align: right;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120.006%; /* 19.201px */
  }
  @media screen and (min-width: 768px) {
    font-size: 20px; 
  }
}
