.form{
    margin-top: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px) {
        margin-top: 80px;
      }
      @media screen and (min-width: 1200px) {
        margin-top: 100px;
      }

    &__title {
        text-align: center;
        color: $titleColor;
 font-size: 32px;
 font-style: normal;
 font-weight: 700;
line-height: 120.006%; 
margin-bottom: 10px;
@media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 40px;
    margin-bottom: 50px;
  }
    }

    &__containre{
        display: flex;
        gap: 25px;
        flex-direction: column-reverse;
        @media screen and (min-width: 768px) {
            flex-direction: row;
          }
        @media screen and (min-width: 1200px) {
            gap: 40px;
          }
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 25px;
        width: 350px;
        @media screen and (min-width: 1200px) {
            width: 470px;
          }
    }

    &__border{
        width: 350px;
height: 54px;
flex-shrink: 0;
@media screen and (min-width: 1200px) {
    width: 470px;
  }
    }

    &__input{
        padding-left: 20px;
        width: 350px;
height: 54px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid $titleColor;
@media screen and (min-width: 1200px) {
    width: 470px;
  }
    }


    &__button{
width: 220px;
height: 54px;
flex-shrink: 0;
border-radius: 8px;
background: $accentColor;
color: $secondaryTitleColor;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 120.006%; 
border: 1px solid $accentColor;
transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
@media screen and (min-width: 1200px) {
    width: 280px;
  }
    }

    &__button:hover{
        background: $secondaryTitleColor;
        color: $accentColor;
    }

    &__text{
        width: 353px;
        color: $secondaryTextColor;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
@media screen and (min-width: 768px) {
    text-align: left;
  }
    }

    &__orange{
        color: $accentColor;
    }
}