.form {
  margin-top: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    margin-top: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 100px;
  }
  &__title {
    @include title();
    text-align: center;
    margin-bottom: 10px;
  }
  &__containre {
    display: flex;
    gap: 25px;
    flex-direction: column-reverse;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
    @media screen and (min-width: 1200px) {
      gap: 40px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
    width: 350px;
    @media screen and (min-width: 1200px) {
      width: 470px;
    }
  }
  &__border {
    width: 350px;
    height: 54px;
    flex-shrink: 0;
    @media screen and (min-width: 1200px) {
      width: 470px;
    }
  }
  &__input {
    padding-left: 20px;
    width: 350px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid $titleColor;
    @media screen and (min-width: 1200px) {
      width: 470px;
    }
  }
  &__button {
    width: 220px;
    @include accent-btn();
    margin: 0;
    @media screen and (min-width: 1200px) {
      width: 280px;
    }
  }
  &__text {
    width: 353px;
    color: $secondaryTextColor;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__orange {
    color: $accentColor;
  }
}
