.intro {
  &__container {
    padding-top: 250px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 250px;
    background-position-y: 13px;
    background-image: url(../img/self/intro/intro-background@mobile-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/self/intro/intro-background@mobile-2x.png);
    }
    @media screen and (min-width: 768px) {
      background-position-x: right;
      background-position-y: 21px;
      background-size: 400px;
      background-image: url(../img/self/intro/intro-background@tablet-1x.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/self/intro/intro-background@tablet-2x.png);
      }
    }
    @media screen and (min-width: 1200px) {
      background-position-x: 643px;
      background-position-y: 27px;
      background-size: 500px;
      background-image: url(../img/self/intro/intro-background@desktop-1x.png);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/self/intro/intro-background@desktop-2x.png);
      }
    }
    @media screen and (min-width: 768px) {
      padding-bottom: 147px;
      padding-top: 70px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 160px;
      padding-top: 100px;
    }
  }
  &__text {
    @include title();
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      font-size: 40px;
      max-width: 451px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 64px;
      max-width: 725px;
    }
  }
  &__subtext {
    color: $accentColor;
    font-size: 36px;
    font-weight: 900;
    @media screen and (min-width: 768px) {
      font-size: 40px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 64px;
    }
  }
  &__button {
    @include accent-btn();
    width: 300px;
    text-align: center;
    margin: 0;
  }
}
