.interests {
  background-color: $lesserBgAccentColor;
  padding: 20px 0;
  &__title {
    @include title();
    text-align: center;
  }
  &__text {
    font-weight: 600;
    line-height: 120%;
    color: $secondaryTextColor;
    text-align: center;
    margin-bottom: 30px;
  }
  &__btn {
    @include accent-btn();
    width: 125px;
  }
}
@media screen and (min-width: 768px) {
  .interests {
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__title {
      font-size: 36px;
      text-align: left;
    }
    &__text {
      font-size: 24px;
      margin-bottom: 0;
      text-align: left;
    }
    &__btn {
        margin: 0;
    }
  }
}
