.remember {
  padding: 50px 0;
  &__title {
    @include title();
    & {
      text-align: center;
    }
  }
  &__span {
    color: $accentColor;
  }
  &__text {
    font-weight: 600;
    line-height: 120%;
    text-align: justify;
    color: $secondaryTextColor;
    margin-bottom: 30px;
  }
  &__btn {
    @include btn();
    & {
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 768px) {
  .remember {
    padding: 60px 0;
    &__text {
      font-size: 24px;
      margin-bottom: 35px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .remember {
    padding: 80px 0;
    &__text {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }
}
