.resources {
  padding-top: 80px;
  &__title {
    @include title();
    & {
      margin-bottom: 10px;
    }
  }
  &__text {
    color: $textColor;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 120.006%;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 24px;
      color: $secondaryTextColor;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    @media screen and (min-width: 768px) {
      row-gap: 30px;
      gap: 46px;
    }
    @media screen and (min-width: 1200px) {
      gap: 67px;
    }
  }
  &__subitem-two {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__tab {
    justify-content: center;
    display: flex;
  }
  &__item {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid $borderColor;
    background: $secondaryTitleColor;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: border 250ms ease-in-out;
  }
  &__item:hover {
    border: 1px solid $accentColor;
  }
  &__teg {
    margin: 0 auto;
    padding-top: 25px;
    margin-bottom: 35px;
  }
  &__item:nth-child(2n) {
    display: none;
    flex-direction: column;
  }
  &__item:nth-child(2) {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  &__subtitle {
    color: $titleColor;
    font-size: 20px;
    font-weight: 600;
    line-height: 120.006%;
    padding-left: 25px;
    margin-bottom: 15px;
  }
  &__subtext {
    color: $secondaryTextColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 120.006%;
    padding-left: 25px;
    max-width: 250px;
    height: 95px;
  }
  &__link-wrap {
    margin-top: 15px;
  }
  &__link {
    color: $accentColor;
    font-size: 20px;
    font-weight: 500;
    line-height: 120.006%;
    margin-left: 25px;
    display: inline-block;
    transition: color 250ms ease-in-out;
  }
  &__link:hover {
    color: $lesserAccentColor;
  }
  &__link-link {
    margin-left: 0;
  }
  &__button {
    @include btn();
    & {
      margin: 0 auto;
      margin-top: 60px;
    }
  }
}
.resources__item {
  display: none;
}
.resources__item:nth-child(-n + 2) {
  display: block;
}
@media (min-width: 1200px) {
  .resources__item:nth-child(-n + 3) {
    display: block;
  }
}
.hidden {
  display: none;
}
