.slider {
  overflow: hidden;
  margin-bottom: 50px;
  &__slider-wrap {
    display: flex;
    position: relative;
  }
  &__slider-wrap::before,
  &__slider-wrap::after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 123px;
    content: '';
    z-index: 2;
  }
  &__slider-wrap::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  &__slider-wrap::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  &__slider-wrap:hover .hero__list {
    animation-play-state: paused;
  }
  &__list {
    display: flex;
    flex-wrap: nowrap;
    animation: 15s slide infinite linear;
  }
  &__item {
    padding: 15px;
    border: 0.5px solid rgba(17, 21, 24, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: $secondaryTitleColor;
    margin-right: 20px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: $accentColor;
  }
  &__text {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: $titleColor;
    width: 215px;
  }
}
@media screen and (min-width: 768px) {
  .slider {
    &__slider-wrap {
      margin-top: 15px;
    }
    &__item {
      margin-right: 15px;
    }
    &__subtitle {
      font-size: 48px;
    }
    &__text {
      font-size: 20px;
      width: 284px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    &__slider-wrap {
      margin-top: 25px;
    }
    &__item {
      padding: 15px 18px;
      margin-right: 30px;
    }
    &__text {
      font-size: 24px;
      width: 337px;
    }
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
