.themes {
  &__form {
    position: relative;
    max-width: 390px;
    min-width: 390px;
    margin-top: 25px;
  }
  &__input {
    padding: 17px 26px;
    padding-bottom: 16px;
    border-radius: 30px;
    max-width: 390px;
    min-width: 390px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    height: 50px;
    border: 1px solid $borderColor;
  }
  &__btn {
    background-color: transparent;
    border: none;
    display: flex;
    position: absolute;
    top: 16px;
    right: 26px;
  }
  &__icon {
    width: 18px;
    height: 18px;
    fill: none;
    stroke: $titleColor;
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    row-gap: 25px;
  }
  &__item {
    width: 350px;
    padding: 15px;
    background-color: $secondaryTitleColor;
    border: 1px solid $borderColor;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    transition: border 250ms ease-in-out;
  }
  &__item:hover {
    border: 1px solid $accentColor;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    margin-top: 20px;
    min-height: 48px;
  }
  &__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: $accentColor;
    margin-top: 20px;
    display: block;
    transition: color 250ms ease-in-out;
  }
  &__link:hover {
    color: $lesserAccentColor;
  }
  &__btn-load {
    font-weight: 600;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 8px;
    border: 1px solid $accentColor;
    color: $accentColor;
    background-color: $secondaryTitleColor;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
  }
  &__btn-load:hover {
    color: $secondaryTitleColor;
    background-color: $accentColor;
  }
}
@media screen and (min-width: 768px) {
  .themes {
    &__form {
      max-width: 450px;
      min-width: 450px;
    }
    &__input {
      max-width: 450px;
      min-width: 450px;
    }
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
      gap: 25px;
    }
    &__item {
      margin: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .themes {
    &__list {
      gap: 30px;
      padding: 30px;
    }
  }
}
