<section class="benefits">
    <div class="container">
        <h2 class="benefits__title">Course benefits</h2>
        <ul class="benefits__list">
            <li class="benefits__item">
                <p class="benefits__number">01</p>
                <p class="benefits__text">Rating system</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__number">02</p>
                <p class="benefits__text">Flexible schedule</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__number">03</p>
                <p class="benefits__text">Adaptability for everyone</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__number">04</p>
                <p class="benefits__text">Testing and games</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__number">05</p>
                <p class="benefits__text">Practical tasks</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__number">06</p>
                <p class="benefits__text">Feedback from our mentors</p>
            </li>
        </ul>
        <button type="submit" class="benefits__button">Sign up for a free lesson</button>
    </div>
</section>