<section class="benefits">
  <div class="container">
    <h2 class="benefits__title">Course benefits</h2>
    <ul class="benefits__list">
      <li class="benefits__item">
        <p class="benefits__text">
          01
          <span class="benefits__span">Rating system</span>
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">
          02
          <span class="benefits__span">Flexible schedule</span>
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">
          03
          <span class="benefits__span">Adaptability for everyone</span>
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">
          04<span class="benefits__span">Texting and games</span>
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">
          05<span class="benefits__span">Practical tasks</span>
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__text">
          06<span class="benefits__span">Feedback from our mentors</span>
        </p>
      </li>
    </ul>
    <a href="#form" class="benefits__button">
      Sign up for a free lesson
    </a>
  </div>
</section>
