<section class="form">
    <div class="container">
        <h2 class="form__title">Leave a request for a free lesson</h2>
        <div class="form__containre">
        <form action="">
        <ul class="form__list">
            <li class="form__border">
                <input type="text" placeholder="Name" required="" class="form__input">
            </li>
            <li class="form__border" >
                <input type="text" placeholder="Phone"  required="" class="form__input">
            </li>
        </ul>
        <button type="submit" class="form__button">Free lesson</button>
    </form>
    <div class="form__text">
    <p>Leave a request for participation in a <label for="" class="form__orange">free lesson.</label></p>
         <p>A consultant will contact you and answer your questions</p>
        </div>
    </div>
    </div>
</section>