<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="./index.html" class="header__logo">
        <svg class="header__icon">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu__burger-icon" width="28" height="28">
          <use href="./img/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="./index.html" class="header__link header__link--active"
              >Home</a
            >
          </li>
          <li class="header__item">
            <a href="./self.html" class="header__link">My course</a>
          </li>
          <li class="header__item">
            <a href="#footer" class="header__link">Contact us</a>
          </li>
        </ul>
      </nav>
      <ul class="header__btn-list">
        <li class="header__btn-item">
          <button class="header__btn header__btn-login" login-modal-open>
            Login
          </button>
        </li>
        <li class="header__btn-item">
          <button class="header__btn header__btn-sign" signup-modal-open>
            Sign Up
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu__wrap">
    <a href="./index.html" class="menu__logo">
      <svg class="menu__logo-icon">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="menu-toggle js-close-menu">
      <svg class="menu__icon-close" width="40" height="40">
        <use href="./img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="menu__nav">
    <ul class="menu__list">
      <li class="menu__item">
        <a href="./index.html" class="menu__link">Home</a>
      </li>
      <li class="menu__item">
        <a href="./self.html" class="menu__link header__link--active"
          >My course</a
        >
      </li>
      <li class="menu__item">
        <a href="#footer" class="menu__link">Contact us</a>
      </li>
    </ul>
    <ul class="menu__btn-list">
      <li class="menu__btn-item header__btn-item">
        <button
          class="menu__btn header__btn header__btn-login"
          login-modal-mobile-open
        >
          Login
        </button>
      </li>
      <li class="menu__btn-item header__btn-item">
        <button
          class="menu__btn header__btn header__btn-sign"
          signup-modal-mobile-open
        >
          Sign Up
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="backdrop is-hidden" login-modal login-modal-mobile>
    <div class="modal">
      <div class="modal__box-close" login-modal-close>
        <svg class="modal__icon-close" width="15" height="15">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
      </div>
        <h2 class="modal__title">Hello, Welcome Back!</h2>
        <form class="modal__form">
          <ul class="modal__list">
            <li class="modal__item">
              <label class="modal__label">
                <input class="modal__input" type="email" placeholder="E-mail" />
              </label>
            </li>
            <li class="modal__item">
              <label class="modal__label">
                <input
                  class="modal__input"
                  type="password"
                  placeholder="Password"
                />
                <svg class="modal__icon">
                  <use href="./img/symbol-defs.svg#icon-eye-off"></use>
                </svg>
              </label>
            </li>
          </ul>
          <a href="#" class="modal__forget">Forget password?</a>
          <button class="modal__btn">Log in</button>
          <a href="#" class="modal__link">
            Don’t have an account?
            <p class="modal__text">Sign up</p>
          </a>
        </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="backdrop is-hidden" signup-modal signup-modal-mobile>
    <div class="signup">
      <div class="signup__close" signup-modal-close>
        <svg class="signup__icon-close" width="15" height="15">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
      </div>
      <div class="signup__wrap">
        <h2 class="signup__title">Hello, Welcome!</h2>
        <form class="signup__form">
          <ul class="signup__list">
            <li class="signup__border">
              <label class="signup__label">
                <input
                  class="signup__input"
                  type="text"
                  placeholder="UserName"
                />
              </label>
            </li>
            <li class="signup__border">
              <label class="signup__label">
                <input
                  class="signup__input"
                  type="email"
                  placeholder="E-mail"
                />
              </label>
            </li>
            <li class="signup__border">
              <label class="signup__label">
                <input
                  class="signup__input"
                  type="password"
                  placeholder="Password"
                />
                <svg class="signup__icon" width="10" height="10">
                  <use href="./img/symbol-defs.svg#icon-eye"></use>
                </svg>
              </label>
            </li>
            <li class="signup__border">
              <label class="signup__label">
                <input
                  class="signup__input"
                  type="password"
                  placeholder="Confirm Password"
                />
                <svg class="signup__icon" width="10" height="10">
                  <use href="./img/symbol-defs.svg#icon-eye"></use>
                </svg>
              </label>
            </li>
          </ul>
          <div class="signup__containre">
            <input class="signup__checkbox" type="checkbox" />
            <p class="signup__text">
              I Agree with <span class="signup__orange">privacy</span> and
              <span class="signup__orange">policy</span>
            </p>
          </div>
          <button class="signup__button">Sign up</button>
          <a href="#" class="signup__question">
            Already have an account?
            <p class="signup__link">Login</p>
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
