<section class="hero">
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__title">
        Have a ride into the exciting world of physics with
        <span class="hero__span">ExciteEdu</span>
      </h1>
      <button class="hero__btn">Try now!</button>
    </div>
  </div>
  <div class="hero__slider-wrap">
    <ul class="hero__list">
      <li class="hero__item">
        <h2 class="hero__subtitle">20k+</h2>
        <p class="hero__text">People learn physics with us!</p>
      </li>
      <li class="hero__item">
        <h2 class="hero__subtitle">#1</h2>
        <p class="hero__text">
          ExciteEdu is the most effective way to learn physics
        </p>
      </li>
      <li class="hero__item">
        <h2 class="hero__subtitle">5+</h2>
        <p class="hero__text">Years of experience</p>
      </li>
    </ul>
    <ul class="hero__list">
      <li class="hero__item">
        <h2 class="hero__subtitle">20k+</h2>
        <p class="hero__text">People learn physics with us!</p>
      </li>
      <li class="hero__item">
        <h2 class="hero__subtitle">#1</h2>
        <p class="hero__text">
          ExciteEdu is the most effective way to learn physics
        </p>
      </li>
      <li class="hero__item">
        <h2 class="hero__subtitle">5+</h2>
        <p class="hero__text">Years of experience</p>
      </li>
    </ul>
  </div>
</section>
