<section class="preferences">
  <div class="container">
    <h1 class="preferences__title">What type of learning do you prefer?</h1>
    <ul class="preferences">
      <li class="preferences__iteam">
        <picture>
          <source
            srcset="
              ./img/home/preferences/online-desktop@1x.png 1x,
              ./img/home/preferences/online-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/home/preferences/online-tablet@1x.png 1x,
              ./img/home/preferences/online-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/home/preferences/online-mobile@1x.png 1x,
              ./img/home/preferences/online-mobile@2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/home/preferences/online-desktop@1x.webp 1x,
              ./img/home/preferences/online-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/home/preferences/online-tablet@1x.webp 1x,
              ./img/home/preferences/online-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/home/preferences/online-mobile@1x.webp 1x,
              ./img/home/preferences/online-mobile@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <img
            class="preferences__img"
            src="./img/home/preferences/online-desktop@1x.png"
            alt="onine studied"
          />
        </picture>
        <h2 class="preferences__subtitle">Online with a teacher</h2>
        <p class="preferences__text">
          Sit on your comfortable couch and learn physics with an incredible
          teacher and other students!!
        </p>
        <button type="button" class="preferences__button">I want this!</button>
      </li>
      <li class="preferences__iteam">
        <picture>
          <source
            srcset="
              ./img/home/preferences/yourself-desktop@1x.png 1x,
              ./img/home/preferences/yourself-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/home/preferences/yourself-tablet@1x.png 1x,
              ./img/home/preferences/yourself-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/home/preferences/yourself-mobile@1x.png 1x,
              ./img/home/preferences/yourself-mobile@2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/home/preferences/yourself-desktop@1x.webp 1x,
              ./img/home/preferences/yourself-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/home/preferences/yourself-tablet@1x.webp 1x,
              ./img/home/preferences/yourself-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/home/preferences/yourself-mobile@1x.webp 1x,
              ./img/home/preferences/yourself-mobile@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <img
            class="preferences__img"
            src="./img/home/preferences/yourself-desktop@1x.png"
            alt="onine studied"
          />
        </picture>
        <h2 class="preferences__subtitle">Learn by yourself</h2>
        <p class="preferences__text">
          Watch good quality video courses about physics anywhere and anytime!
        </p>
        <button type="button" class="preferences__button">I want this!</button>
      </li>
    </ul>
  </div>
</section>
