<section class="preferences">
    <div class="container">
        <h1 class="preferences__title">What type of learning do you prefer?</h1>
        <ul class="preferences">
            <li class="preferences__iteam">
                <img src="" alt="" class="preferences__img">
                <h2 class="preferences__subtitle">Physically</h2>
                <p class="preferences__text">Visit a real life place and learn physics with other people!</p>
                <button type="button" class="preferences__button">I want this!</button>
            </li>
            <li class="preferences__iteam">
                <img src="" alt="" class="preferences__img">
                <h2 class="preferences__subtitle">Online with a teacher</h2>
                <p class="preferences__text">Sit on your comfortable couch and learn physics with an incredible teacher and other students!!</p>
                <button type="button" class="preferences__button">I want this!</button>
            </li>
            <li class="preferences__iteam">
                <img src="" alt="" class="preferences__img">
                <h2 class="preferences__subtitle">Learn by yourself</h2>
                <p class="preferences__text">Watch good quality video courses about physics anywhere and anytime!</p>
                <button type="button" class="preferences__button">I want this!</button>
            </li>
        </ul>
    </div>
</section>