<section class="reviews swiper">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__item">
          <div class="reviews__info-wrap">
            <picture>
              <source
                srcset="
                  ./img/home/reviews/lilli@1x.png 1x,
                  ./img/home/reviews/lilli@2x.png 2x
                "
                type="image/png"
              />
              <source
                srcset="
                  ./img/home/reviews/lilli@1x.webp 1x,
                  ./img/home/reviews/lilli@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews__img"
                src="./img/home/reviews/lilli@1x.png"
                alt="lilli"
              />
            </picture>
            <h2 class="reviews__name">Lilli Glass</h2>
          </div>
          <p class="reviews__text">
            I really liked the course "Middle school physics"! The teachers
            explain the material perfectly, and the lessons are always
            interesting and interactive. Most of all, I like the experiments we
            do in class - they help us to better understand the theory. I also
            learned a lot about how physics is applied in everyday life. This
            course is not only useful, but also exciting!
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <div class="reviews__info-wrap">
            <picture>
              <source
                srcset="
                  ./img/home/reviews/josiah@1x.png 1x,
                  ./img/home/reviews/josiah@2x.png 2x
                "
                type="image/png"
              />
              <source
                srcset="
                  ./img/home/reviews/josiah@1x.webp 1x,
                  ./img/home/reviews/josiah@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews__img"
                src="./img/home/reviews/josiah@1x.png"
                alt="josiah"
              />
            </picture>
            <h2 class="reviews__name">James Thompson</h2>
          </div>
          <p class="reviews__text">
            The High School Physics course provides a solid foundation in the
            principles of physics, making it an essential part of the science
            curriculum. Covering topics such as mechanics, electricity,
            magnetism, and thermodynamics, the course balances theoretical
            understanding with practical experiments.
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <div class="reviews__info-wrap">
            <picture>
              <source
                srcset="
                  ./img/home/reviews/josiah@1x.png 1x,
                  ./img/home/reviews/josiah@2x.png 2x
                "
                type="image/png"
              />
              <source
                srcset="
                  ./img/home/reviews/josiah@1x.webp 1x,
                  ./img/home/reviews/josiah@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews__img"
                src="./img/home/reviews/josiah@1x.png"
                alt="josiah"
              />
            </picture>
            <h2 class="reviews__name">Josiah Valdez</h2>
          </div>
          <p class="reviews__text">
            I really enjoyed the Modern Physics course! We studied relevant
            topics such as quantum mechanics and relativity. Teachers explain
            the material in a clear and accessible way, and laboratory work
            helps to consolidate knowledge in practice. Thanks to this course, I
            have broadened my understanding of physics and now have a better
            understanding of modern scientific achievements.
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <div class="reviews__info-wrap">
            <picture>
              <source
                srcset="
                  ./img/home/reviews/lilli@1x.png 1x,
                  ./img/home/reviews/lilli@2x.png 2x
                "
                type="image/png"
              />
              <source
                srcset="
                  ./img/home/reviews/lilli@1x.webp 1x,
                  ./img/home/reviews/lilli@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews__img"
                src="./img/home/reviews/lilli@1x.png"
                alt="lilli"
              />
            </picture>
            <h2 class="reviews__name">Emily Parker</h2>
          </div>
          <p class="reviews__text">
            The lectures are well-structured, with clear explanations and
            engaging visuals that make complex ideas more accessible. The
            problem sets and labs reinforce the theoretical knowledge with
            practical applications, enhancing the learning experience. Overall,
            this course is an excellent choice for anyone looking to deepen
            their knowledge of modern scientific theories and their real-world
            implications.
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
<script>
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';
  const swiper = new Swiper('.swiper-container', {
    direction: 'horizontal',
    loop: true,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      768: {
        slidesPerView: 2,
      },
      1200: {
        slidesPerView: 2,
      },
    },
  });
</script>
