<section class="system">
    <div class="container">
        <h2 class="system__title">Educational system</h2>
        <ul class="system__list">
            <li class="system__options">
                <div class="system__containre">
                <p class="system__text">We use the most <span class="system__orange">professional</span> books and resources for our lessons</p>
                 </div>
            </li>
            <li class="system__options">
                <div class="system__containre">
                <p class="system__text">Our teachers have the best rating in the world!</p>
                 </div>
            </li>
            <li class="system__options">
                <div class="system__containre">
                <p class="system__text">We use two types of education: self education and education with a teacher</p>
                 </div>
            </li>
            <li class="system__options">
                <div class="system__containre">
                <p class="system__text">At the end of the course you get a <span class="system__orange">certificate</span>, that you can put into your resume!</p>
                 </div>
            </li>
            <li class="system__options">
                <div class="system__containre">
                <p class="system__text">Our education can borrow you lots of fun and knowledge</p>
                 </div>
            </li>
            <li class="system__options">
                <div class="system__containre">
                <p class="system__text">We also have real places where you can come and learn physics with other people in real life!</p>
                 </div>
            </li>
        </ul>
    </div>
</section>