<section class="videos">
  <div class="container">
    <h2 class="videos__title">
      Video materials to help you
      <span class="videos__span">quickly</span> master the learning process
    </h2>
    <ul class="videos__list">
      <li class="videos__item">
        <iframe
          class="videos__video"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </li>
      <li class="videos__item">
        <iframe
          class="videos__video"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </li>
      <li class="videos__item">
        <iframe
          class="videos__video"
title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </li>
    </ul>
  </div>
</section>
