<section class="videos">
  <div class="container">
    <h2 class="videos__title">
      Video materials to help you
      <span class="videos__span">quickly</span> master the learning process
    </h2>
    <ul class="videos__list">
      <li class="videos__item">
        <video
          class="videos__video"
          src="https://www.youtube.com/embed/TjPFZaMe2yw?si=Tix3fRPmhpYdKdaw"
          controls
          poster="https://i.ytimg.com/vi/IDB_3S1ezsc/maxresdefault.jpg"
        ></video>
      </li>
      <li class="videos__item">
        <video
          class="videos__video"
          src="https://www.youtube.com/embed/4oW3tWAylpw?si=-I0_lV9BY1lp1DYo"
          controls
          poster="https://i.ytimg.com/vi/4oW3tWAylpw/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGC8gPSh_MA8=&amp;rs=AOn4CLAXDxLHZvkEG4O12vlpDSlXUgLgDw"
        ></video>
      </li>
      <li class="videos__item">
        <video
          class="videos__video"
          src="https://www.youtube.com/embed/IDB_3S1ezsc?si=cL-X9o7LLQiPAcEY"
          controls
          poster="https://i.ytimg.com/vi/IDB_3S1ezsc/maxresdefault.jpg"
        ></video>
      </li>
    </ul>
  </div>
</section>
