<section class="videos">
  <div class="container">
    <h2 class="videos__title">
      Video materials to help you
      <span class="videos__span">quickly</span> master the learning process
    </h2>
    <ul class="videos__list">
      <li class="videos__item">
        <iframe
          class="videos__video"
          src="https://www.youtube.com/embed/TjPFZaMe2yw?si=Tix3fRPmhpYdKdaw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </li>
      <li class="videos__item">
        <iframe
          class="videos__video"
          src="https://www.youtube.com/embed/4oW3tWAylpw?si=-I0_lV9BY1lp1DYo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </li>
      <li class="videos__item">
        <iframe
          class="videos__video"
          src="https://www.youtube.com/embed/IDB_3S1ezsc?si=cL-X9o7LLQiPAcEY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </li>
    </ul>
  </div>
</section>
