<section class="themes" id="themes-section">
    <div class="container">
        <form class="themes__form" id="search-form">
            <input type="text" class="themes__input" placeholder="Enter a theme" id="search-input">
            <button class="themes__btn" type="submit">
                <svg class="themes__icon">
                    <use href="./img/symbol-defs.svg#icon-search"></use>
                </svg>
            </button>
        </form>
        <ul class="themes__list" id="themes-list">
            <li class="themes__item">
                <img src="./img/themes/physics.png" alt="themes img" class="themes__img">
                <h2 class="themes__title">Definition of physics and its role in science</h2>
                <a href="#" class="themes__link">Start learn</a>
            </li>
            <li class="themes__item">
                <img src="./img/themes/physics.png" alt="themes img" class="themes__img">
                <h2 class="themes__title">Basic physical quantities and units of measurement</h2>
                <a href="#" class="themes__link">Start learn</a>
            </li>
            <li class="themes__item">
                <img src="./img/themes/physics.png" alt="themes img" class="themes__img">
                <h2 class="themes__title">Methods of scientific investigation</h2>
                <a href="#" class="themes__link">Start learn</a>
            </li>
            <li class="themes__item">
                <img src="./img/themes/kinematics.png" alt="themes img" class="themes__img">
                <h2 class="themes__title">Kinematics: Mechanical movement</h2>
                <a href="#" class="themes__link">Start learn</a>
            </li>
            <li class="themes__item">
                <img src="./img/themes/kinematics.png" alt="themes img" class="themes__img">
                <h2 class="themes__title">Kinematics: Trajectory and movement vector</h2>
                <a href="#" class="themes__link">Start learn</a>
            </li>
            <li class="themes__item">
                <img src="./img/themes/kinematics.png" alt="themes img" class="themes__img">
                <h2 class="themes__title">Kinematics: Velocity</h2>
                <a href="#" class="themes__link">Start learn</a>
            </li>
            <li class="themes__item">
                <img src="./img/themes/kinematics.png" alt="themes img" class="themes__img">
                <h2 class="themes__title">Kinematics: Acceleration</h2>
                <a href="#" class="themes__link">Start learn</a>
            </li>
            <li class="themes__item">
                <img src="./img/themes/kinematics.png" alt="themes img" class="themes__img">
                <h2 class="themes__title">Kinematics: Uniform rectilinear motion</h2>
                <a href="#" class="themes__link">Start learn</a>
            </li>
            <li class="themes__item">
                <img src="./img/themes/kinematics.png" alt="themes img" class="themes__img">
                <h2 class="themes__title">Kinematics: Equal-variable rectilinear motion</h2>
                <a href="#" class="themes__link">Start learn</a>
            </li>
        </ul>
        <button class="themes__btn-load" id="load-more">Show more</button>
    </div>
</section>