<section class="themes" id="themes-section">
  <div class="container">
    <form class="themes__form" id="search-form">
      <input
        id="searchBar"
        type="text"
        class="themes__input"
        placeholder="Enter a theme"
      />
      <button class="themes__btn" type="submit">
        <svg class="themes__icon">
          <use href="./img/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <ul class="themes__list" id="root">
      <li class="themes__item">
        <img
          src="./img/physics.png"
          alt="themes img"
          class="themes__img"
        />
        <h2 class="themes__title">
          Definition of physics and its role in science
        </h2>
        <a href="./study.html" class="themes__link">Start learn</a>
      </li>
      <li class="themes__item">
        <img
          src="./img/physics.png"
          alt="themes img"
          class="themes__img"
        />
        <h2 class="themes__title">
          Basic physical quantities and units of measurement
        </h2>
        <a href="./study.html" class="themes__link">Start learn</a>
      </li>
    </ul>
    <button class="themes__btn-load" id="load-more">Show more</button>
  </div>
</section>
